@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@200;300;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
body, html {
  padding: 0;
  margin: 0;
}

.topic--bg {
  position:relative;
  width: 200px;
  height: 45px;
  background: #ffffff;
  top: 91%;
  border-top-right-radius: 1.25em;
  padding-left: 40px;
  font-weight: 900;
  font-size: 1.25em;
  font-family: 'Roboto', sans-serif;
}

.topic--bg::before {
  content: "";
  position: absolute;
  top:-40px;
  left:0;
  height:40px;
  width: 40px;
  border-bottom-left-radius: 50%;
  box-shadow: 0 20px 0 0 #ffffff;
}

.topic--bg::after {
  content: "";
  position:absolute;
  top:1px;
  left:200px;
  height:40px;
  width: 40px;
  border-bottom-left-radius: 50%;
  box-shadow: 0 20px 0 0 #ffffff;
}

.topic--card{
  width: 90%; /* Adjust this percentage based on how much of the screen you want it to take up */
  max-width: 90%; /* Same as above */
  margin-left: auto; /* These two lines center the div on the screen */
  margin-right: auto;
}


/* body {
  font-family: 'Roboto', sans-serif;
  background-color: #dee3e3;
  height: 100%;
}

 navbar

nav {
  padding: 10px;
  margin: 10px;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navbar--right {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(169, 107, 106, 0.5) ;
  z-index: 1000;
  backdrop-filter: blur(10px);
  line-height: 4em;
}

.navbar--right a,
.navbar--right img {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  padding: 0.5rem 1rem;
  font-size: 3rem;
}

.menu-icon {
  display: block;
  height: 40px;
}

.close-icon {
  height: 40px;
}

.navbar--right.show {
  display: flex;
}

@media (min-width: 770px) {
  .navbar--right {
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    z-index: 1;
  }

  .navbar--right a {
    color: #333;
    font-size: 1rem;
  }

  .menu-icon {
    display: none;
    height: 2em;
  }

  .close-icon {
    display: none;
  }
}

 blogpost list

.posts-container {
  margin: 1em;
}


.blogpost-container,
.blogpost-container .post,
.blogpost-container .info {
  padding: 10px;
  border-radius: 25px;
  margin: 10px;
}
.blogpost-container {
  margin:0px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.blogpost-container {
  background-color: #bfbfbf;
}

.blogpost-container .post {
  background-color: white;
  margin-bottom: 15px;

}

.blogpost-container .info {
  background-color: #ebebeb;
}

.post .title span {
  color: #ed9795;
  font-weight: 600;
}

.home-btn {
  letter-spacing: 5px;
  font-family: 'Handjet', cursive;
  text-decoration: none;
  font-weight: 700;
  font-size: 30px;
  color: #595757;
}

.home-btn span {
  color: #ed9795;
}


.post .title a,
.blogpost-detail-container .topic span {
  text-decoration: none;
  color: #ed9795;
  font-weight: 600;
  transition: all .2s ease-in-out;
}

.post .title a:hover {
  color: #a96b6a
}

.post .title,
.blogpost-detail-container .topic {
  font-weight: 300;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

.blogpost-detail-container a {
  text-decoration: none;
  color: #333;
}
.blogpost-detail-container a:hover {
  text-decoration: underline;
}

.post .text {
  font-weight: 300;
  color: #6c6c6c;
   letter-spacing: 1px;
}

.info {
  max-width: 20em;
  font-weight: 400;
}

.info p {
  margin: 2px;
  color: #595757;
}

.info span,
.comment-info span  {
  font-style: italic;
  font-weight: 300;
}


 blogpost detail

.blogpost-detail-container {
  margin: 2em;
}

.blogpost-detail-container .topic,
.blogpost-detail-container .text,
.blogpost-detail-container .info {
  background-color: white;
  padding: 20px;
  border-radius: 25px;
   margin: 10px;
}

.blogpost-detail-container .text {
  font-size: 1.1em;
  font-weight: 300;
   letter-spacing: 0.3px;
}

 comments container

.comment-details,
.comments-container,
form {
  padding: 10px;
  border-radius: 25px;
  margin-top:10px;
  margin-bottom:10px;
}

.comments-container h3  {
 margin-left: 10px;
 font-style: italic;
 color:#6c6c6c
}

.comments-container {
  background-color: #bfbfbf;
  margin-top: 2.5em;
  z-index: 1;
}

.comment-details {
  background-color: #ebebeb;
}

.comment-details .info {
  color:#595757
}

.span-user {
  font-style: normal;
  font-weight: 900;
}


.btn-submit {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  margin-left: 1em;
  background-color: #bfbfbf;
  transition: all .3s ease-in-out;
  padding: 0.5em;
  width: 100%;
}

.btn-submit:hover {
  background-color: white;
}

form {
  background-color: #6c6c6c;
  color: white;
  display: flex;
}


#comment {
  background-color: white;
  padding: 10px;
  border-radius: 25px;
  border: none;
} */
